.database_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  & main {
    width: 80%;
    border-radius: 20px;
    padding: 35px;
    box-shadow: none;
    background-color: #662e1c;
  }
}

.dialog {
  position: fixed;
  top: 10%;
  left: 100%;
  width: 800px;
  height: 800px;
  margin-top: 50px;
  margin-left: -30px;
  margin-top: -25px;
  padding: 10px;
  padding-bottom: 30px;
  border: #000 2px solid;
  border-radius: 10px;
  background: #fff;
  color: #f00;
  z-index: 1500;
  font-size: 12pt;

  .label {
    transform: rotate(270deg);
    width: 430px;
    height: 20px;
    text-align: center;
    color: #f00;
    overflow: hidden;
    display: inline-block;
    margin-left: -26%;
    margin-top: 50%;
    cursor: pointer;
  }
  .header {
    text-align: center;
    margin-top: -430px;
    font-size: 20px;
  }

  .history {
    height: 730px;
    overflow-x: hidden;
    overflow-y: scroll;
    .question {
      margin-left: 40px;
      background: #99f;
      margin: 5px;
      width: 100%;
      border-radius: 5px;
      padding: 5px;
    }
  }
  .question {
    display: flex;
  }
  button {
    margin: 2px 20px;
    width: 100%;
    border: 1px #666 solid;
    border-radius: 5px;
    font-size: 20px;
  }
  input {
    font-size: 20px;
    width: 90%;
    border-radius: 10px;
    padding: 2px 10px;
  }
}

.dialog input,
.dialog button,
.dialog .history {
  margin: 2px 25px;
  width: 95%;
  border: 1px #666 solid;
  border-radius: 5px;
  font-size: 20px;
}
.dialog .history .question {
  margin: 5px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-left: 40px;
  background: #99f;
}

.dialog .history .answer {
  margin: 5px;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-right: 40px;
  background: #9ff;
}
.dialog .history .answer img,
.dialog .history .answer audio,
.dialog .history .answer video {
  cursor: pointer;
  display: block;
  max-width: 650px;
}

.modal_container {
  display: none;
}

.modal_container_active {
  z-index: 2000;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.566);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  & img {
    width: 500px;
    transform: scale(1.3);
  }
}
